/* asset-chooser */
#asset-chooser-interface {
  max-width: 1440px;
  margin: 0 auto;
}

/* asset-chooser-mode-toggle {
  margin-top: 1rem;
} */

#asset-chooser-title {
  margin: 0;
  padding: 0;
}

#asset-chooser-hint {
  font-size: 0.9rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  min-height: 6.2rem;
}

#mode-status-banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* right: 0; */
  /* bottom: 1rem; */
  top: 0.04rem;
  margin: 0;
  /* border-radius: 0 0 0.25rem 0.25rem; */
  width: 48%;
  z-index: 100;
  /* background: #174054; */
  /* color: #fff; */
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  pointer-events: none; /* so it doesn't block map interaction */
  z-index: 50;
}

.mode-status-banner-select {
  background: #a8d4e8;
  color: #000;
}

.mode-status-banner-sketch {
  background: #174054;
  color: #fff;
}

#layer-data-container {
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 1rem;
  padding: .5rem 1rem;
  align-items: start;
  z-index: 0;
}
@media (max-width: 1200px) {
  #layer-data-container {
    grid-template-columns: 1fr 1fr 1fr; 
  }
}
@media (max-width: 992px) {
  #layer-data-container {
    grid-template-columns: 1fr 1fr; 
  }
}
@media (max-width: 768px) {
  #layer-data-container {
    grid-template-columns: 1fr; 
  }
}

#layer-data-container::before {
  display: none !important;
  content: none !important;
}

#asset-chooser-button-and-map-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr; /* Button:Map ratio */
  gap: 1rem;
  align-items: start;
}

#asset-chooser-button-container {
  display: flex;
  flex-direction: column; /* or row if you want horizontal centering */
  align-items: center;    /* centers children horizontally */
  justify-content: center; /* optional: centers vertically if container has height */
}

@media (max-width: 1200px) {
  #asset-chooser-button-and-map-wrapper {
    grid-template-columns: 1fr 1fr; /* Stack vertically on small screens */
  }
}

@media (max-width: 768px) {
  #asset-chooser-button-and-map-wrapper {
    grid-template-columns: 1fr; /* Stack vertically on small screens */
  }
}

#viewDiv {
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  pointer-events: none;
}

#layer-data-container {
  margin-top: 1rem;
}

.stat-title {
  /* margin-bottom: 0 !important; */
  padding-top: 0 !important;
  padding-bottom: .35rem !important;
}

.zoom-alert-div {
  font-size: 12px;
  /* margin-bottom: .25rem; */
  /* font-weight: bold; */
  /* margin-top: -1rem; */
  /* display: inline-block; */
  /* min-height: 18px; */
  /* vertical-align: middle; */
}

.layer-data-display-row {
  display: flex;
  align-items: center; /* vertically align */
  justify-content: flex-start; /* left to right */
  /* gap: 1rem;  */
}

.layer-data-display-button-row {
  margin-left: auto; /* ensures it hugs the right if needed */
  display: flex;
  gap: 0.5rem; /* space between buttons */
}

.toggleLayerVisibilityButton {
  font-size: 12px;
  background-color: #eeeeee;
  transition: transform 0.1s;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 60px;
}

.toggleLayerVisibilityButton:hover {
  transform: scale(1.05);
  background-color: #f9f9f9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.toggleLayerVisibilityButton:active {
  transform: scale(0.95);
}

.enable-sketch-button {
  font-size: 12px;
  background-color: #eeeeee;
  transition: transform 0.1s;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 60px;
  color: #174054;
  visibility: hidden;
  border: 2px solid #174054;
  box-sizing: border-box;
  /* opacity: 0.6; */
}

.enable-sketch-button:hover {
  transform: scale(1.05);
  background-color: #174054;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.sketch-button-shadow {
  box-shadow: 2px 2px 2px 2px #174054;
}

.sketch-button-disabled {
  pointer-events: none;
  /* opacity: 0.6; */
}

.invisible-button {
  visibility: hidden;
}

/* .remove-asset-btn {
   transition: transform 0.1s; 
} */

.remove-asset-btn:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.remove-asset-btn:active {
  transform: scale(0.95);
}

.select-border {
  border: 2px solid #a8d4e8 !important;
  box-sizing: border-box;
}

.sketch-border {
  border: 2px solid #174054 !important;
  box-sizing: border-box;
}

.assets-valid-border {
  border: 2px solid #538400 !important;
  box-sizing: border-box;
}

.select-shadow {
  box-shadow: 4px 4px 2px 2px #a8d4e8 !important;
}

.sketch-shadow {
  box-shadow: 4px 4px 2px 2px #174054 !important;
}

.assets-valid-shadow {
  box-shadow: 4px 4px 2px 2px #538400 !important;
}

#accessibility-icon {
  margin-right: 5px;
}

#edit-asset-selection-button {
  margin: 5px;
}
#cancel-asset-selection-button {
  margin: 5px;
}

/* Modal styles */
.modal::backdrop {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px;
}

.modal-header {
  margin: -16px -16px 0 -16px;
  background-color: #efefef;
  padding: 14px;
}

.modal-body {
  padding: 10px 0 10px 0;
  margin-top: 20px;
}

.close {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: bold;
  border: none;
  margin-top: -12px;
  margin-right: -12px;
}

.close:hover {
  cursor: pointer;
  color: black;
}

/* class to disable scrolling */
.no-scroll {
  overflow: hidden;
}

#accomodation-button-hint {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  font-style: italic;
}

#accomodation-title {
  margin: 0;
  font-size: 1.25rem;
  border-bottom: 0;
  box-shadow: 0 0 0 0;
}

#accomodation-subtitle {
  margin: 0;
  /* font-size: 1em; */
}

#accessibility-icon {
  margin-right: 5px;
}

/* #validity-message {
  min-height: 1.75em;
  display: block; 
} */

#asset-chooser-button-and-map-wrapper {
  margin-top: 1rem;
}



/* .esri-attribution {
  display: none !important;
} */

.map-layer-data-container {
  box-sizing: border-box;
  margin: 0;
}

/* .asset-selection-requirements {
  min-height: 2em;
} */


asset-chooser-map-layer-data-display li {
  font-size: .8rem;
  /* line-height: 1.2rem; */
  padding: .35rem !important;
  /* background-color: #cccccc; */
}

.asset-list-wrapper {
  margin-top: .8rem;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background: #e0e0e0;
  overflow: hidden;
}

.list-group.chosen-asset-data-list,
.list-group.created-asset-data-list {
  /* min-height: 6rem;
  max-height: 4rem;
  overflow-y: auto;
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.35rem;
  border: 1px solid #cccccc; */
  min-height: 4rem;
  max-height: 4rem;
  overflow-y: auto;
  margin: 0;
  padding: 0.35rem;
  background: transparent;
  border: none;
  border-radius: 0;
}

#asset-chooser-mode-toggle-container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.mode-button {
  margin-top: .25rem;
  margin-bottom: 1rem;
  padding: 0.25rem 1.42rem;
  /* background-color: #e0e0e0; */
  font-size: 1rem;
  border: black 1px solid;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.mode-button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.mode-button:active {
  transform: scale(0.95);
  
}

#select-mode-button {
  background-color: #a8d4e8;
}

#sketch-mode-button {
  background-color: #174054;
  color: white;
}

/* media queries */
@media screen and (max-width: 767px) {
  #layer-data-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .modal {
    width: 90%;
  }
}