html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    margin-top: 0;
  }
}

header {
  padding: 1rem;
}

main {
  flex: 1;
  padding: 1rem;
  max-width: 1440px;
  margin: auto;
}

footer {
  text-align: center;
  font-size: .75rem;
  margin-bottom: .4rem;
}

.navigation {
  text-align: center;
}

