* {
  box-sizing: border-box;
}

#map-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjusted for a 2:1 ratio for larger screens */
  grid-template-rows: auto 1fr; /* Two rows: one for titles, one for content */
  padding: 2em;
  margin: 1em;
}

#viewDiv {
  height: 50vh;
  border: lightgray 1px solid;
}

#layer-data-title {
  align-self: end; /* Aligns titles to the bottom of their grid cell */
  padding-left: 2em;
  margin-left: 1em;
}
#layer-data-div {
  padding-left: 1em;
  margin-left: 1em;
}

#map-title-container {
  align-self: end; /* Aligns titles to the bottom of their grid cell */
}

.map-layer-data-container {
  padding-left: 2em;
  margin-left: 1em;
}

.remove-asset-btn{
  cursor: pointer;
}

#map-layers-headline-mobile {
  display: none; /* Hide layer data on larger screens */
}

#validity-message {
  font-size: medium;
}

@media (max-width: 768px) {
  #map-container {
    grid-template-columns: 1fr; /* Stack columns vertically on smaller screens */
    grid-template-rows: auto auto 1fr; /* Adjust rows for stacking */
  }

  #viewDiv,
  #layer-data-div,
  #viewDiv-title,
  #layer-data-title {
    width: 100%; /* Full width for smaller screens */
  }
  #map-layers-headline-mobile {
    display: block; /* Show layer data on smaller screens */
  }
  #map-layers-headline-desktop {
    display: none; /* Hide layer data on smaller screens */
  }
  #layer-data-div {
    padding-left: 0; /* Remove padding for smaller screens */
    margin-left: 0;
  }
}
