html,
body {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
h1 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 32px;
}

h2 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
}

#console-message {
  text-align: center;
  font-size: 16px;
  margin-bottom: 12px;
  font-style: italic;
  font-weight: bold;
}

.navigation {
  text-align: center;
  margin-bottom: 24px;
}

#asset-display-div{
  max-width: 40rem;
  margin: 0 auto;
  padding-left: 1rem;
}